:root {
  --size-caja: 400px;
  --size-vinilo: 360px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.fondo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.caja {
  width: var(--size-caja);
  height: var(--size-caja);
  background-image: url(img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 10px;
}

.vinilo {
  display: flex;
  z-index: -1;
  transform: translateX(-20px);
  right: 50px;
  width: var(--size-vinilo);
  height: var(--size-vinilo);
  background-color: black;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(60deg, transparent 40%, #fff5, transparent 60%),
    repeating-radial-gradient(circle at center, #333 0 1px, black 1px 10px);

  /* background-image: radial-gradient(white 2%, red 2% 20%, black 20% 100%); */
  border-radius: 50%;
  box-shadow: 5px 5px 10px;
}

.vinilo-label {
  display: flex;
  width: calc(var(--size-caja) *0.2);
  height: calc(var(--size-caja) *0.2);
  background-color: red;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(60deg, transparent 40%, #fffc, transparent 60%);
}

.vinilo-hole {
  width: calc(var(--size-caja) *0.02);
  height: calc(var(--size-caja) *0.02);
  border-radius: 50%;
  background-color: white;
}
